@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueThin.woff) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueLight.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueRegular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueMedium.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueBold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Scania Sans CY";
  src: url(../css/fonts/ScaniaSansCY/ScaniaSansCYBold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Scania Sans CY";
  src: url(../css/fonts/ScaniaSansCY/ScaniaSansCYRegular.woff) format("woff");
  font-weight: 400;
}
*,
::before,
::after {
  padding: 0;
  margin: 0px 0px 0px 0px;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 123px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 76px;
}

.header__info {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.header__logo {
  margin-right: 39px;
}

.logo {
  text-transform: uppercase;
  font-family: "Scania Sans CY";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 70px;
  color: #fff;
}

.header_text {
  font-size: 12px;
  line-height: 18px;
  max-width: 99px;
  color: #6d6d6d;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  margin-right: 61px;
}

.menu__link {
  color: #949494;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  transition: color 0.2s ease-out;
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: rgb(255, 207, 122);
}

.menu__link_current {
  color: rgb(255, 207, 122);
}

.header__button {
  width: 50px;
  height: 50px;
  background: #eccf94;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.header__button:hover, .header__button:focus {
  transform: scale(1.05);
}
.header__button:hover svg path, .header__button:focus svg path {
  transition: 0.3s ease-out;
  transform: translateX(1px);
}

.intro__container {
  padding-top: 40px;
  background: url("../src/images/intro_backround.png") no-repeat, url("../src/images/intro_light.png ") no-repeat;
  background-position: top -12% right 14%, top -14% right 17%;
  background-size: 700px 429px;
}

.intro__title {
  font-weight: 250;
  font-size: 64px;
  line-height: 70px;
  max-width: 780px;
  text-transform: uppercase;
  background: linear-gradient(226.43deg, #ffffff 49.37%, rgba(255, 255, 255, 0) 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 29px;
}

.intro__price {
  color: #ffcf7a;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 86px;
}
.intro__price span {
  font-size: 42px;
}

.advantages {
  display: flex;
  gap: 40px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__icon {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 14px;
}

.advantages__text {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  max-width: 120px;
}

.about {
  margin-bottom: 10px;
}

.about__container {
  background: url("../src/images/kamin-light.png") no-repeat 50% -30%;
  padding-top: 242px;
  padding-bottom: 20px;
}

.title {
  text-transform: uppercase;
  font-weight: 250;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.06em;
}

.about__title {
  text-align: center;
  max-width: 671px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
}

.about__subtitle {
  max-width: 822px;
  margin: 0 auto;
}

.about__image {
  margin-bottom: 58px;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pluses {
  display: flex;
  justify-content: space-between;
}

.pluses__item {
  display: flex;
  gap: 29px;
  align-items: center;
}

.pluses__description {
  max-width: 176px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.refueling__container {
  padding-top: 200px;
  display: flex;
  background: url("../src/images/light-refuel.png ") no-repeat 79% 36%, url("../src/images/Group.png") no-repeat 79% 36%;
  margin-bottom: 170px;
}

.refueling__info {
  margin-right: 40px;
  padding-bottom: 150px;
}

.refueling__title {
  margin-bottom: 23px;
}

.refueling__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  max-width: 370px;
}
.refueling__description:first-of-type {
  margin-bottom: 52px;
}

.refueling__buttons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 211px;
}

.refueling__wrapper {
  display: flex;
  align-items: center;
  max-width: 109px;
  justify-content: space-between;
  margin-bottom: 19px;
}

.refueling__line {
  width: 31px;
  height: 1px;
  background-color: #e5e5e5;
}

.refueling__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  max-width: 234px;
}

.time {
  justify-self: end;
  width: 151px;
  height: 151px;
  background-color: #ffd47c;
  border-radius: 100%;
  display: flex;
  position: relative;
  z-index: 1;
}

.time__title {
  color: #000000;
  font-family: "Scania Sans CY";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  text-align: center;
  max-width: 55px;
  position: absolute;
  top: 35px;
  right: 60px;
}
.time__title span {
  font-size: 19.2px;
}

.time__text {
  font-family: "Scania Sans CY";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  max-width: 79px;
  position: absolute;
  top: 87px;
  right: 36px;
}

.smart {
  margin-bottom: 49px;
}

.smart__container {
  background-image: url("../src/images/smartbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 600px;
}

.smart__title {
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 13px;
  text-align: center;
}

.smart__text {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  max-width: 644px;
  margin: 0 auto;
  margin-bottom: 205px;
  text-align: center;
}

.smart__flex-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 215px;
}
.smart__flex-wrapper span {
  font-weight: 700;
  font-size: 14px;
  line-height: 33px;
  color: #464239;
}

.smart__yandex {
  padding-left: 130px;
}

.smart__Xiaomi {
  padding-right: 100px;
  flex-shrink: 0;
}

.info {
  margin-bottom: 106px;
}

.info__flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-bottom: 150px;
}

.info__description {
  font-size: 14px;
  line-height: 27px;
}

.block-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.left-block__image {
  position: relative;
}
.left-block__image::before {
  content: "";
  position: absolute;
  width: 454px;
  height: 1px;
  background-color: rgb(255, 207, 122);
  left: 0;
  top: -14px;
}
.left-block__image::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 1px;
  background-color: rgb(255, 207, 122);
  right: 68px;
  top: 6px;
  transform: rotate(45deg);
}
.left-block__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-block__title {
  margin-bottom: 25px;
}

.left-block__description {
  margin-bottom: 19px;
}

.left-block__variants {
  margin-bottom: 58px;
}

.left-block__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 22px;
}

.left-block__subtitle_gray {
  color: rgb(117, 117, 117);
}

.block-list {
  display: grid;
  grid-template-columns: 239px 323px;
}

.block-list__item {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.right-block__title {
  max-width: 341px;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 25px;
}

.right-block__description {
  max-width: 539px;
  margin-bottom: 50px;
}

.slider {
  width: 537px;
  height: 346px;
  background-color: #121212;
  position: relative;
}

.slider__buttons {
  position: absolute;
  left: 22px;
  bottom: 27px;
}

.slider__button {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.slider__button_left {
  background: url("../src/icons/arrow-leftsvg.svg") no-repeat;
}

.slider__button_right {
  background: url("../src/icons/arrow-right.svg") no-repeat;
}

.info__common-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 8.8%;
       column-gap: 8.8%;
}

.solutions__title {
  margin-bottom: 24px;
}

.solutions__description {
  margin-bottom: 37px;
  max-width: 414px;
}

.accessories__title {
  margin-bottom: 24px;
}

.accessories__description {
  margin-bottom: 37px;
  max-width: 297px;
}

.catalog__title {
  max-width: 862px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 35px;
}

.catalog__button {
  margin: 0 auto;
  width: 284px;
  height: 60px;
  margin-bottom: 97px;
}

.button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #121212;
  background: linear-gradient(90deg, rgb(249, 87, 77) 80%);
  background: rgb(236, 207, 148);
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
  overflow: hidden;
}
.button:focus, .button:hover {
  background-color: #e6bf71;
}
.button::before {
  content: "";
  background: url("../src/images/gradient.png") no-repeat;
  width: 226px;
  height: 124px;
  position: absolute;
  top: 0;
  left: -30px;
}

.images-block__images {
  display: flex;
  gap: 42px;
}

.images-block__item {
  width: 370px;
  height: 267px;
  min-width: 246px;
  background-color: #000;
}
.images-block__item:first-child {
  margin-bottom: 90px;
}

.title_images {
  text-align: center;
  margin-bottom: 45px;
}

.title {
  background: linear-gradient(249.07deg, #ffffff 36.17%, rgba(255, 255, 255, 0) 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.your-fireplace {
  padding-top: 94px;
  margin-bottom: 89px;
}

.your-fireplace__title {
  margin: 0 auto;
  max-width: 609px;
  margin-bottom: 67px;
}

.your-fireplace__flex-wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 68px;
}

.your-fireplace__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-right {
  flex-basis: 577px;
}

.form-right__title {
  font-weight: 500;
  font-size: 10px;
  line-height: 55px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.your-fireplace__range-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.form-right__range {
  width: 296px;
  height: 2px;
  background-color: #646464;
  position: relative;
}
.form-right__range::before {
  content: "";
  width: 50%;
  border: 2px solid #ffcf7a;
  display: block;
}
.form-right__range span {
  display: block;
  width: 30px;
  height: 30px;
  background: #ffcf7a;
  border-radius: 2px;
  position: absolute;
  top: -14px;
  left: 50%;
  cursor: pointer;
}

.form-slider {
  width: 327px;
}

.form-slider__image {
  display: flex;
  align-items: center;
  gap: 22px;
}
.form-slider__image::before {
  content: url("../src/icons/arrow-leftsvg.svg");
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.form-slider__image::after {
  content: url("../src/icons/arrow-right.svg");
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.form-slider__buttons {
  width: 48px;
  margin: 0 auto;
  cursor: pointer;
}

.form-slider__btn {
  width: 9px;
  height: 1px;
  background-color: #464239;
}

.form-slider__btn--current {
  background-color: #ffcf7a;
}

.additional-functions {
  display: flex;
  align-items: center;
  gap: 140px;
}

.additional-functions__left-wrapper {
  flex-grow: 1;
}

.additional-functions__right-wrapper {
  flex-grow: 1;
}

.label {
  display: flex;
  justify-content: space-between;
}
.label .input-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.label .checkbox {
  display: none;
}
.label .ckeckbox-fake {
  width: 20px;
  height: 20px;
  border: 1px solid #ceb787;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}
.label .ckeckbox-fake::before {
  content: "";
  width: 8px;
  height: 8px;
  background: url("../src/icons/checkbox.svg");
  display: block;
  opacity: 0;
  transition: 0.2s ease;
}

.checkbox:checked + .ckeckbox-fake::before {
  opacity: 1;
}

.checkbox:checked + .ckeckbox-fake {
  background-color: #eccf94;
}

.fireplace-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
}

.fireplace-info__flex-inner {
  display: flex;
  flex-direction: column;
}

.fireplace-info__text {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.135em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  line-height: 55px;
}

.fireplace-info__value {
  font-weight: 400;
  font-size: 24px;
}

.fireplace-info__round {
  width: 28px;
  height: 28px;
  background: #b8542a;
  border-radius: 500px;
}

.fireplace-info__title {
  font-weight: 500;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  line-height: 40px;
}

.fireplace-info__price {
  display: block;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #ffcf7a;
}

.fireplace-info__button {
  width: 254px;
  height: 60px;
}

.footer__title {
  margin-bottom: 71px;
}

.title--gradient {
  background: linear-gradient(215.07deg, #ffffff 42.17%, rgba(255, 255, 255, 0) 105.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.contact__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: #949494;
}

.contact__tel,
.contact__telegram {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #fff;
  display: block;
}

.contact__tel {
  margin-bottom: 20px;
}

.contact__tel--big {
  font-weight: 250;
  font-size: 36px;
  line-height: 33px;
  margin-bottom: 61px;
}

.contact__email {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #ffcf7a;
  display: block;
  margin-bottom: 25px;
}

.contact__adress {
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  max-width: 352px;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 60px;
  border: 1px solid #ceb787;
  border-radius: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  transition: 0.25s ease;
  cursor: pointer;
}
.contact__button:hover, .contact__button:focus {
  background-color: #ceb787;
  color: #232323;
}

.footer__lower {
  padding: 15px 0px 18px 0px;
  border-top: 1px solid #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #6d6d6d;
}

.footer__text--link {
  margin-left: 300px;
}

body {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  background: url("../src/images/bg.jpg");
}