//* HEADER

.header {
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 76px;
}
.header__info {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}
.header__logo {
  text-transform: uppercase;
  font-family: "Scania Sans CY";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 70px;
  color: #fff;
  margin-right: 39px;
}
.header_text {
  font-size: 12px;
  line-height: 18px;
  max-width: 99px;
  color: #6d6d6d;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__menu {
}
.menu {
  display: flex;
  column-gap: 45px;
  margin-right: 61px;
}
.menu__item {
}
.menu__link {
  color: #949494;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  transition: color 0.2s ease-out;
  &:hover,
  &:focus,
  &:active {
    color: rgba(255, 207, 122, 1);
  }
}
.menu__link_current {
  color: rgba(255, 207, 122, 1);
}
.header__button {
  width: 50px;
  height: 50px;
  background: #eccf94;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover,
  &:focus {
    transform: scale(1.05);
    svg {
      path {
        transition: 0.3s ease-out;
        transform: translateX(1px);
      }
    }
  }
}
