.smart {
  margin-bottom: 49px;
}
.smart__container {
  background-image: url("../src/images/smartbg.jpg");
  background-repeat: no-repeat;
  // height: 900px;
}
.smart__title {
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 13px;
  text-align: center;
}
.title {
}
.smart__text {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  max-width: 644px;
  margin: 0 auto;
  padding-bottom: 515px;
  text-align: center;
}
