//!VARIABLES

//! FONTS
@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueThin.woff) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueLight.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueRegular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueMedium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Lab grotesque";
  src: url(../css/fonts/LabGrotesque/LabGrotesqueBold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Scania Sans CY";
  src: url(../css/fonts/ScaniaSansCY/ScaniaSansCYBold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Scania Sans CY";
  src: url(../css/fonts/ScaniaSansCY/ScaniaSansCYRegular.woff) format("woff");
  font-weight: 400;
}

@import "_Nullstyles.scss";
@import "_Header.scss";
@import "_Intro.scss";
@import "_About.scss";
@import "_Refuel.scss";
@import "_Smart.scss";
@import "_Info.scss";
@import "_Catalog.scss";
@import "_Fireplace.scss";
@import "_Footer.scss";

body {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  background: url("../src/images/bg.jpg");
}
